@import "animation.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Font Family */
  --font-family-inter: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-body: var(--font-family-inter);
  --font-family-default: system-ui, -apple-system, BlinkMacSystemFont,
    PingFang SC, Microsoft YaHei UI, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-family-heading: "IBM Plex Sans Thai", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Font Family */
  --paragraph-margin-bottom: 1.2rem;
  /* Line Height */
  --line-height-base: 1.8;

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* Theme Transition */
  --theme-transition: font-size 0.25s var(--ease-in-out-quad), background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad); 
}

body {
  /* --background-default: #ccc; */
  /* -webkit-font-smoothing: antialiased; */
  background-color: var(--background-default);
  color: var(--colors-text-1);
  margin: 0;
  padding: 0;
  font-family: var(--font-family-body);
  font-weight: 300;
  font-size: 13pt;
  line-height: var(--line-height-base);
  transition: var(--theme-transition);
}

/* Default Color before variables.css loaded */
body.light {
  --background-default: #ffffff;
  --colors-text-1: #525660;
}

body.dark {
  --background-default: #1a202c;
  --colors-text-1: #D6D8DC;
}

a,
a:visited {
  color: var(--text-link);
  text-decoration: none;
}

.container {
  padding: 0 20px;
  max-width: 700px;
  margin: 0 auto;
  &.wide {
    max-width: 1300px;
  }
}
