/* Ref:
  Super cool for theme switch animation:
    - https://web.dev/building-a-theme-switch-component/
    - https://github.com/argyleink/gui-challenges/tree/main/theme-switch 
*/

@import "../core/animation.scss";

// Config
$light-theme-fill-color: #525660;
$dark-theme-fill-color: #D6D8DC;

.theme-toggle {
  cursor: pointer;
}

// SASS mixin to convert a hex to a CSS filter: Ref; https://stackoverflow.com/a/66365650

@mixin recolor($color: #000, $opacity: 1) {
  $r: calc(red($color) / 255);
  $g: calc(green($color) / 255);
  $b: calc(blue($color) / 255);
  $a: $opacity;

  // grayscale fallback if SVG from data url is not supported
  $lightness: lightness($color);
  filter: saturate(0%) brightness(0%) invert($lightness) opacity($opacity);

  // color filter
  $svg-filter-id: "recolor";
  filter: url('data:image/svg+xml;utf8,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="#{$svg-filter-id}" color-interpolation-filters="sRGB">\
          <feColorMatrix type="matrix" values="\
            0 0 0 0 #{$r}\
            0 0 0 0 #{$g}\
            0 0 0 0 #{$b}\
            0 0 0 #{$a} 0\
          "/>\
        </filter>\
      </svg>\
      ##{$svg-filter-id}');
}

@mixin icon-overlay-show {
  opacity: 1; 
  z-index: 10;
  transform: scale(1);
}

@mixin icon-overlay-hide {
  opacity: 0; 
  z-index: 0;
  transform: scale(0.55);
}

.sun-and-moon{
  position: relative;

  .moon {
    @include icon-overlay-show;
    position: static;
  }

  .sun {
    @include icon-overlay-hide;
    position: absolute; // Make it overlay the moon
  }

  .moon , .sun {
    @include recolor($light-theme-fill-color, 0.8);
    transition: all 0.4s $ease-elastic-3;
  }
}

[data-theme="dark"] .sun-and-moon {
  .moon {
    @include icon-overlay-hide;
  }

  .sun {
    @include icon-overlay-show;
  }

  .sun, .moon {
    @include recolor($dark-theme-fill-color, 0.8);
  }
}

// html{
//   color-scheme:light
// }
// html[data-theme=dark]{
//   color-scheme:dark
// }


