@mixin topbar-menu-hover {
  color: var(--text-heading);
  background-color: var(--colors-hover-0);
}

.topbar {
  .fixed-top-container {
    margin: 0;
    padding-left: -20px;
    padding: 15px 20px 10px 20px;
    overflow: hidden;
    background: var(--background-default);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: var(--shadow-2);
  }

  .logo a {
    color: var(--colors-logo);
    font-family: var(--font-family-inter);
    font-weight: 700;
    font-size: 1.3rem;
  }

  .header-offset-bottom {
    margin-bottom: 100px;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .flex-item {
    display: flex;
    align-items: center;
  }

  a.menu-item {
    font-family: var(--font-family-default);
    margin: 0 8px 0 8px;
    border-radius: 10px;
    color: var(--color-default);
    font-weight: 400;
    padding: 8px 12px;
    &:hover, &.active {
      @include topbar-menu-hover;
    }
  }

  .theme-switch-button {
    border-radius: 50%;
    padding: 12px 12px 2px 12px;
    margin-left: 5px;
    margin-top: 0px;
    &:hover {
      @include topbar-menu-hover;
    }
  }
}
