.post-text .highlight pre {
  /* font-size: var(--code-font); */
  font-size: 14px;
  overflow-x: auto;
  margin: auto;
  padding: .5em .8em;
  line-height: 1.5;
}

/* ------- comments -------*/
.comments-item {
  margin-top: 10%;
}

/* .comments-valine .vcontent  p {
  background: rgba(142, 142, 145, 0.04);
} */
/* ------- comments end -------*/


/* ------- post footer -------*/
.post-footer div {
  margin: 1em 0;
}

.post-lastmod {
  font-style: italic;
  color: var(--gray-color);
}

.related-posts h4 {
  margin-top: 0;
  margin-bottom: 1em;
}
/* ------- post footer end -------*/
