/* Ref:
  https://web.dev/building-a-theme-switch-component/
  https://github.com/argyleink/gui-challenges/tree/main/theme-switch */
@import "sun-and-moon.css";

.theme-toggle {
    --size: 1.5rem;
    --icon-fill: #454d54;
    --icon-fill-hover: #22262a;
    -webkit-tap-highlight-color: transparent;
    aspect-ratio: 1;
    background: none;
    block-size: var(--size);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    inline-size: var(--size);
    outline-offset: 5px;
    padding: 0;
    touch-action: manipulation;
  }
  .theme-toggle > svg {
    stroke-linecap: round;
    block-size: 100%;
    inline-size: 100%;
  }
  [data-theme="dark"] .theme-toggle {
    --icon-fill: #abb3ba;
    --icon-fill-hover: #e2e6e9;
  }
  @media (hover: none) {
    .theme-toggle {
      --size: 48px;
    }
  }
html{
    color-scheme:light
}
html[data-theme=dark]{
    color-scheme:dark
}
@supports not (color-scheme: dark){
    html[data-theme=dark]{
    }
} 
